body {
  margin: 0;
  padding: 0;
  background: #f8f9fa;
}

/* RWD Mobile First - base styling */
.nav {
   margin: 5px 15px;

}
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  text-decoration: none;

}
/*  Link formatting */
.nav li {
  width: 18vw;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  line-height: 40px;
  height: 40px;
}
a:hover {
  background-color: #fcc8c2;
    border-radius: 10px;
}
.nav a {
   color: #000;
   text-decoration: none;
   font-variant: small-caps;
   display: block;
   transition: .3s background-color; /* transition highlight */
}


a.active {
   background-color: #fcc8c2;
     border-radius: 10px;
}
.myMain {
   margin: 0 auto;
}
.myMain h1, p{
   list-style: none;
   text-align: center;
   padding: 0;
   margin: 0;
   text-decoration: none;

}
/* selction highlight color */
::selection {
  background: rgba(252, 200, 194,0.5);
}

@media (min-width: 700px) {
   /*  Link formatting */
   .nav li {
     width: 18vw;
     display: inline-block;
     font-family: 'Oswald', sans-serif;
     font-size: 1.2em;
     line-height: 40px;
     height: 40px;
   }

}
